<h1>Add Animal</h1>
<form method="post">
    {% csrf_token %}
    
    <label for="gender">Gender:</label>
    <select id="gender" name="gender" required>
        <option value="" selected disabled>Select gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select><br>
    
    <label for="health_status">Health Status:</label>
    <select id="health_status" name="health_status" required>
        <option value="" selected disabled>Select health status</option>
        <option value="Good">Good</option>
        <option value="Bad">Bad</option>
    </select><br>
    
    <label for="animal_type">Animal Type:</label>
    <select id="animal_type" name="animal_type">
        <option value="" selected disabled>Select an animal type</option>
        {% for animal_type in animal_types %}
            <option value="{{ animal_type.id }}">{{ animal_type.name }}</option>
        {% endfor %}
    </select><br>
    
    <label for="resources">Resources:</label>
    <select id="resources" name="resources">
        <option value="" selected disabled>Select resource</option>
        {% for resource in resources %}
            <option value="{{ resource.id }}">{{ resource.name }}</option>
        {% endfor %}
    </select><br>
    
    <button type="submit">Save</button>
</form>
