<title>Animal List</title>
<body>
    <h1>Animal List</h1>
    <a href="{% url 'add_animal' %}">Add Animal</a>
    <ul>
        {% for animal in animals %}
            <li>
                Gender: {{ animal.gender }}<br>
                Health Status: {{ animal.health_status }}<br>
     <a href="{% url 'delete_animal' animal.id %}">Delete</a>
     <a href="{% url 'edit_animal' animal.id %}">Edit</a>
            </li>
        {% endfor %}
    </ul><br>

    <h3>Select the page </h3>
<ul>
    <li><a href="{% url 'location' %}">Location Page</a></li>
    <li><a href="{% url 'farmer' %}">Farmer Page</a></li>
    <li><a href="{% url 'resources' %}">Resource Page</a></li>
    <li><a href="{% url 'farm' %}">Farm Page</a></li>
    <li><a href="{% url 'animal_types' %}">Animal Type Page</a></li>
</ul>

