<h1>Add Resource</h1>
<form method="post">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" required><br>
    <label for="expiration_date">Expiration Date:</label>
    <input type="date" name="expiration_date" required><br>
    
    <label for="farm">Select Farm:</label>
    <select name="farm">
        <option value="" selected disabled>Select farm</option>
        {% for farm in farms %}
            <option value="{{ farm.id }}">{{ farm.name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Save</button>
</form>
